<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 The Tech Blog &#127881
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
      <button id="logout">Log Out</button>
  </div>
  </body>

</html>
<script src="/js/logout.js"></script>
