  <div class="div container">

  <div class="navheader">
  <a class="navlinks" href="/">Home</a>
     {{#if loggedIn}} 
       <a id="logout" type="button" class="btn navlinks" href="/logout">Log Out</a>
      <a class="dashboard navlinks" href="/dashboard">Dashboard</a>
     {{else}}
    <a class="navlinks" href="/login">Login</a> 
    <a class="navlinks" href="/signup">Sign-Up!</a> 
     {{/if}}  
  </div>
<h2>Welcome!</h2>
<main>
{{#each blogs}}
<div class="card">
  <div class="card-body">
    <h3>
      Title: <h4 class="blogtext">{{title}}</h4>
    </h3>
    <h3>
      Message: <h4 class="blogtext">{{body}}</h4>
    </h3>
  </div>
</div>
{{/each}}
</main>
<script src="/js/logout.js"></script>
</div>
