  <div class="navheader">
  <a class="navlinks" href="/">Home</a>
     {{#if loggedIn}} 
      <button id="logout" href="/logout">Log Out</button>
     {{else}}
    <a href="/login">Login</a> 
     {{/if}}  
  </div>
<h2>Welcome!</h2>
{{#each blogs}}
<h3 class="blogcontent">{{title}}</h3>
<h3 class="blogcontent">{{body}}</h3>
{{/each}}
